* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Flex design nav-bar*/

li,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  text-decoration: none;
  color: #2d2f30;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background: rgba(193, 164, 132, 0.3);
  height: 10vh;
}

.band-name a {
  font-family: cursive;
  font-weight: 500;
  font-size: 3rem;
  text-decoration: underline #f0fff0;
  color: honeydew;
  cursor: pointer;
}

.social-link {
  max-width: 1.5rem;
  margin-left: 15px;
  transition: all 0.3s ease 0s;
}

.social-link:hover {
  max-width: 1.7rem;
}

.nav-links li {
  display: inline-block;
  padding: 0px 1em;
}

.nav-links li a {
  transition: all 0s ease 0s;
}

.nav-links li a:hover {
  color: #2a4146;
  font-size: 20px;
  border-bottom: 2px solid #2a4146;
}

/* hero */

section img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  z-index: -1;
}
